{% include head.html %}
<header class="site-header">

    <div class="wrapper">
      <a href="#"><img src="img/logo.png" class="h_logo" alt="Blogin" title=""></a>
      <nav>
        <ul class="main_nav">
          <li class="current"><a href="#">Resume</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
<!-- Remove about from top of the page
      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div> -->
    </nav>

  </div>


</header>
